:root {
  --bs-body-font-size: 1.3rem;
}

body, .card-text a, .card-text {
  font-family: 'Oswald', sans-serif;
}

body p, body ul {
  font-family: 'Bitter', serif;
}

p.lead {
  font-size: 1.3rem;
}

footer, footer a {
  font-family: sans-serif;
}

.container {
  max-width: 1080px;
}

.offcanvas-bottom {
  height: 40vh;
}


.font-logo, .font-logo a {
  font-family: 'Pompiere', cursive;
}

.hero-row {
  min-height: 60vh;
}

@media only screen and (min-width: 600px) {
  .hero-row {
    min-height: 60vh;
  }
}

p.large-first::first-letter {
  font-size: 3.5rem;
  line-height: 1;
}

.hero-mask {
  background-color: rgba(5, 0, 49, 0.6);
}

.gradient-text {
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #feff22, #00ff84);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

footer {
  font-size: 0.8rem;
}

.footer-social svg {
  margin: 0 6px;
}